@model Gestion_De_Bibliotecas_Programacion06_UI.Models.mAutor

@{
    ViewData["Title"] = "detalleAutor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle autor</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TnIdAutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TnIdAutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcNacionalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcNacionalidad)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Actualizar", "modificaAutor", new { pIdAutor = Model.TnIdAutor }) |
    <a asp-action="obtenerAutor">Regresar</a>
</div>
